#scoreBoard {
  text-align: center;
  margin: 50px;
}
button {
  margin: 10px;
  height: 50px;
  width: 80px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .2)
}
p {
  text-align: center;
}
#play {
  margin-left: 45%;
  font-size: 20px;
}
#scoreBoard {
  display: none;
}
.jumbotron {
  text-align: center;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, .2);
  color: white;
}
p {
  font-size: 20px;
}
label {
  font-size: 15px;
}
.well {
  display: none;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, .2)
}
#rollZero {
  display: none;
}
.form-control {
  width: 220px;
  margin-left: 25%;
}
.form-group {
  text-align: center;
}
.btn-lg {
  width: 200px;
}
body {
  background-image: url("../img/grad.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.alert {
  color: white;
  background-color: rgba(255, 255, 255, .2);
  margin-top: 40px;
  height: 80px;
  font-size: 20px;
  text-align: center;
}
