#scoreBoard {
  text-align: center;
  margin: 50px;
}
button {
  margin: 10px;
  height: 50px;
  width: 80px;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, .6)
}
p {
  text-align: center;
}
#play {
  margin-left: 45%;
  font-size: 20px;
  margin-top: 80px;
}
#scoreBoard {
  display: none;
}
.jumbotron {
  text-align: center;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, .2);
  color: white;
}
p {
  font-size: 20px;
}
label {
  font-size: 15px;
}
.well {
  display: none;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, .2)
}
#rollZero {
  display: none;
}
.form-group {
  margin-left: 25%;
  font-size: 35px;
  width: 220px;
  height: 40px;
}
.btn-lg {
  width: 200px;
}
body {
  background-image: url("../img/grad.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.alert {
  color: #ef0047;
  background-color: rgba(255, 255, 255, .5);
  margin-top: 40px;
  height: 80px;
  font-size: 20px;
  text-align: center;
}
.side1 {
  height: 70px;
  width: 70px;
  display: none;
}
.side2 {
  height: 70px;
  width: 70px;
  display: none;
}
.side3 {
  height: 70px;
  width: 70px;
  display: none;
}
.side4 {
  height: 70px;
  width: 70px;
  display: none;
}
.side5 {
  height: 70px;
  width: 70px;
  display: none;
}
.side6 {
  height: 70px;
  width: 70px;
  display: none;
}
#headingDice5 {
  height: 80px;
  width: 80px;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}
#headingDice3 {
  height: 80px;
  width: 80px;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
#gif {
  margin-top: 80px;
  text-align: center;
}
