#scoreBoard {
  text-align: center;
  margin: 50px;
}
button {
  margin: 10px;
}
p {
  text-align: center;
}
#play {
  height: 50px;
  width: 80px;
  font-size: 20px;
  margin-left: 45%;
}
#scoreBoard {
  display: none;
}
